.jobcards-container-outter {
  display: flex;
  justify-content: center;
}

.jobcards-container {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px 50px;
}
